# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/hireflow?schema=public"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Auth
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# Email (optional)
RESEND_API_KEY=""
EMAIL_FROM="HireFlow <no-reply@yourdomain.com>"

# File uploads (optional)
UPLOADTHING_TOKEN=""
